In [ ]:
#Data Types
course_name = "Analysis and Interpretation of Biological Data"
slot = "C"
classroom = 1.2

print("Course Name:", course_name)
print("Class_slot", slot)
print(classroom)

Course Name: Analysis and Interpretation of Biological Data
Class_slot C
1.2

In [ ]:
#Lists - mutable, ordered collections that can hold a variety of data types
gene_A_expression = [5.6, 7.2, 8.1]
gene_B_expression = [2.3, 3.4, 4.5]

# Print the expression levels
print("Gene A Expression Levels:", gene_A_expression)
print("Gene B Expression Levels:", gene_B_expression)

# Accessing specific values
print("First expession value of Gene A:", gene_A_expression[0])  # Accessing first value of Gene A

Gene A Expression Levels: [5.6, 7.2, 8.1]
Gene B Expression Levels: [2.3, 3.4, 4.5]
First expession value of Gene A: 5.6

In [ ]:
#NumPy and Pandas
import numpy as np                     #Importing NumPy for numerical operations
import pandas as pd                    #Importing Pandas for data manipulation

# Dictionary for GeneA and GeneB
gene_expression = {
    'GeneA': [5.6, 7.2, 8.1],           #Expression levels for GeneA
    'GeneB': [2.3, 3.4, 4.5]            #Expression levels for GeneB
}

# Numpy arrays for gene expression levels
gene_A_expression = np.array([5.6, 7.2, 8.1])
gene_B_expression = np.array([2.3, 3.4, 4.5])

# Creat dictionary with names and expression and convert to pandas dataframe
data = { 'Gene': ['GeneA', 'GeneB'],
          'Expresion Level': [np.mean(gene_expression['GeneA']),
                              np.mean(gene_expression['GeneB'])]
         }
df = pd.DataFrame(data)
print(df)

    Gene  Expresion Level
0  GeneA         6.966667
1  GeneB         3.400000

In [ ]:
## Using a function
#Functions - sum, range, len, abs etc.
gene_a_expression = [5.6, 7.2, 8.1, 2.3, 3.4]

number_of_samples = len(gene_a_expression)
print("Number of samples:", number_of_samples)

# max and min expression levels
print(f"Maximum expression level: {max(gene_a_expression)} ")
print(f"Minimum expression level: {min(gene_a_expression)} ")

# absolute change between first and second sample
print(f"Absolute channge between expression in first and second sample: {np.abs(gene_a_expression[1] - gene_a_expression[0]):0.2f} ")

# iterate through the samples
print("Given below are all expression rates")
for i in range(number_of_samples):
  print(f"Sample {i+1}: Expresion level: {gene_a_expression[i]}")

Number of samples: 5
Maximum expression level: 8.1
Minimum expression level: 2.3
Absolute channge between expression in first and second sample: 1.60
Given below are all expression rates
Sample 1: Expresion level: 5.6
Sample 2: Expresion level: 7.2
Sample 3: Expresion level: 8.1
Sample 4: Expresion level: 2.3
Sample 5: Expresion level: 3.4

In [ ]:
# Data Importing

file_path = '/content/drive/MyDrive/Jaxpheno11.xlsx'
df = pd.read_excel(file_path, sheet_name= 'Body Weight')

# mamnipulate the data

# extract data from row 2: and column 6  to 30
extracted_data = df.iloc[1: 5:29]
print(extracted_data) # display data extracted using iloc

# sort the data into descending order by age
sorted_df = df.sort_values(by = 'Age (w)', ascending = False)
sorted_df = df.iloc[1:, 5:29]
print("The data frame sorted by Age (w): ")
print(sorted_df)

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  Age (w)  Unnamed: 6  \
1   C57BL/6J     380050          m        DIO          1     18.4        22.1

   Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 20  Unnamed: 21  \
1        22.5        24.1        26.4  ...         44.7        44.19

   Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  \
1         44.0         45.9         46.3        47.12        47.42

   Unnamed: 27  Unnamed: 28  Unnamed: 29
1         47.7        47.22        47.29

[1 rows x 30 columns]
The data frame sorted by Age (w):
     Age (w)  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
1      18.40       22.10       22.50       24.10       26.40        27.75
2      18.50       22.10       22.80       25.30       26.90        29.10
3      18.50       22.26       23.25       25.54       27.13        29.30
4      18.70       22.50       23.40       25.54       27.30        29.40
5      18.80       22.57       23.62       25.70       27.92        29.40
..       ...         ...         ...         ...         ...          ...
196    22.37       24.40       26.31         NaN         NaN          NaN
197    22.40       24.42       26.72         NaN         NaN          NaN
198    22.50       24.51       27.00         NaN         NaN          NaN
199    22.50       24.60       27.27         NaN         NaN          NaN
200    23.80       26.40       27.70         NaN         NaN          NaN

     Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  ...  Unnamed: 19  \
1          30.10        32.00        33.10        35.09  ...        42.27
2          30.30        32.34        33.30        35.72  ...        42.70
3          30.65        32.50        33.70        36.20  ...        43.00
4          30.77        32.60        33.72        36.51  ...        43.04
5          30.80        32.60        34.00        37.20  ...        43.05
..           ...          ...          ...          ...  ...          ...
196          NaN          NaN          NaN          NaN  ...          NaN
197          NaN          NaN          NaN          NaN  ...          NaN
198          NaN          NaN          NaN          NaN  ...          NaN
199          NaN          NaN          NaN          NaN  ...          NaN
200          NaN          NaN          NaN          NaN  ...          NaN

     Unnamed: 20  Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  \
1          44.70        44.19         44.0        45.90        46.30
2          44.80        44.47         44.3        46.32        46.60
3          45.07        44.60         44.4        46.56        46.70
4          45.30        45.19         44.9        46.70        47.10
5          45.40        45.60         46.0        46.79        47.24
..           ...          ...          ...          ...          ...
196          NaN          NaN          NaN          NaN          NaN
197          NaN          NaN          NaN          NaN          NaN
198          NaN          NaN          NaN          NaN          NaN
199          NaN          NaN          NaN          NaN          NaN
200          NaN          NaN          NaN          NaN          NaN

     Unnamed: 25  Unnamed: 26  Unnamed: 27  Unnamed: 28
1          47.12        47.42        47.70        47.22
2          47.30        47.60        48.00        47.50
3          47.80        48.20        48.14        47.50
4          48.40        48.20        48.56        47.52
5          48.50        48.20        48.74        48.10
..           ...          ...          ...          ...
196          NaN          NaN          NaN          NaN
197          NaN          NaN          NaN          NaN
198          NaN          NaN          NaN          NaN
199          NaN          NaN          NaN          NaN
200          NaN          NaN          NaN          NaN

[200 rows x 24 columns]

In [ ]:
## Handling NAN values
# basic stragegy is to omit the rows

new_data = extracted_data.dropna() # using unsorted data as an example
print(new_data)

# Replace NANs with 0
filled_data = extracted_data.fillna(0)
print(filled_data)

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  Age (w)  Unnamed: 6  \
1   C57BL/6J     380050          m        DIO          1     18.4        22.1

   Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 20  Unnamed: 21  \
1        22.5        24.1        26.4  ...         44.7        44.19

   Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26  \
1         44.0         45.9         46.3        47.12        47.42

   Unnamed: 27  Unnamed: 28  Unnamed: 29
1         47.7        47.22        47.29

[1 rows x 30 columns]
  Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Age (w)  \
1   C57BL/6J      380050          m        DIO           1     18.4

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 20  \
1        22.1        22.5        24.1        26.4  ...         44.7

   Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  \
1        44.19         44.0         45.9         46.3        47.12

   Unnamed: 26  Unnamed: 27  Unnamed: 28  Unnamed: 29
1        47.42         47.7        47.22        47.29

[1 rows x 30 columns]

<ipython-input-16-4307f0efd31c>:8: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filled_data = extracted_data.fillna(0)